{{define "Almanac" -}}
Normal high: {{.TempHigh.Normal.C}}° C ({{.TempHigh.Normal.F}}° F)
Record high: {{.TempHigh.Record.C}}° C ({{.TempHigh.Record.F}}° F) [{{.TempHigh.RecordYear}}]
Normal low: {{.TempLow.Normal.C}}° C ({{.TempLow.Normal.F}}° F)
Record low: {{.TempLow.Record.C}}° C ({{.TempLow.Record.F}}° F) [{{.TempLow.RecordYear}}]
{{- end}}{{/* define Alamanc */}}
