{{define "Almanac" -}}
Normal high: {{.TempHigh.Normal.F}}° F ({{.TempHigh.Normal.C}}° C)
Record high: {{.TempHigh.Record.F}}° F ({{.TempHigh.Record.C}}° C) [{{.TempHigh.RecordYear}}]
Normal low: {{.TempLow.Normal.F}}° F ({{.TempLow.Normal.C}}° C)
Record low: {{.TempLow.Record.F}}° F ({{.TempLow.Record.C}}° C) [{{.TempLow.RecordYear}}]
{{end}}{{/* define Alamanc */}}
