{{define "MoonPhase" -}}
Moon Phase: {{.PhaseOfMoon}} ({{.PercentIlluminated}})
Sunrise   : {{.Sunrise.Hour}}:{{.Sunrise.Minute}}
Sunset    : {{.Sunset.Hour}}:{{.Sunset.Minute}}
{{end}}{{/* define MoonPhase */ -}}
