{{define "Trip" -}}
{{if .Error -}}
{{.Error}}
{{- else -}}
{{.Title}}
Station: {{.AirportCode}}
{{with .ChanceOf -}}
Chance of:
   Temps:
      Over 90 F (32 C): {{.TempOverNinety.Percentage}}%
      Between 60 F (15 C) and 90 F (32 C): {{.TempOverSixty.Percentage}}%
      Between 32 F (0 C) and 60 F (16 C): {{.TempOverFreezing.Percentage}}%
      Below 32 F (0 C): {{.TempBelowFreezing.Percentage}}%
   Dewpoint above 70 F (21 C): {{.ChanceOfSultryDay.Percentage}}%
   Dewpoint above 60 F (15 C): {{.ChanceOfHumidDay.Percentage}}%
   Winds over 10 mph (15 km/h): {{.ChanceOfWindyDay.Percentage}}%
   {{.ChanceOfSunnyCloudyDay.Name}} day: {{.ChanceOfSunnyCloudyDay.Percentage}}%
   {{.ChanceOfCloudyDay.Name}} day: {{.ChanceOfCloudyDay.Percentage}}%
   {{.ChanceOfPartlyCloudyDay.Name}} day: {{.ChanceOfPartlyCloudyDay.Percentage}}%
   {{.ChanceOfPrecip.Name}}: {{.ChanceOfPrecip.Percentage}}%
   {{.ChanceOfFogDay.Name}}: {{.ChanceOfFogDay.Percentage}}%
   {{.ChanceOfRainDay.Name}}: {{.ChanceOfRainDay.Percentage}}%
   {{.ChanceOfThunderDay.Name}}: {{.ChanceOfThunderDay.Percentage}}%
   {{.ChanceOfTornadoDay.Name}}: {{.ChanceOfTornadoDay.Percentage}}%
   {{.ChanceOfHailDay.Name}}: {{.ChanceOfHailDay.Percentage}}%
   {{.ChanceOfSnowDay.Name}}: {{.ChanceOfSnowDay.Percentage}}%
   {{.ChanceOfSnowOnGround.Name}}: {{.ChanceOfSnowOnGround.Percentage}}%
{{end}}{{/* with .ChanceOf */ -}}
{{- end}}{{/* if Error */ -}}
{{- end}}{{/* define Trip */ -}}
